<h1><i class="money icon"></i>Conta</h1>
<p>
  <strong>Nome:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @bank_account.bank.name %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @bank_account.account %>
</p>

<p>
  <strong>Agência:</strong>
  <%= @bank_account.agency %>
</p>

<p>
  <strong>Digito:</strong>
  <%= @bank_account.digit %>
</p>

<%= link_to 'Editar', edit_bank_account_path(@bank_account), class: 'ui basic button' %> 
<%= link_to 'Voltar', bank_accounts_path, class: 'ui basic button' %>
