<!DOCTYPE html>
<html>
<head>
	<title>Mycroft Provider</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= favicon_link_tag asset_path('iconzinho.ico') %>
	<%= yield :head %>
	<style type="text/css">
		#content {
			min-height: 100px;
		}
		.ui.grid{
			padding: 0 !important;
		}
		.pushable.segment{
			margin: 0 !important;
		}	
	</style>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
</head>
<body >
	<!-- Sidebar e menu mobile -->
	<div class="ui sidebar inverted vertical menu">
		<%= render 'layouts/sidebar_menu' %>
	</div>

	<div class="ui pusher centered grid">
		<div class="tablet mobile only row">
			<div class="column">
				<div class="ui top fixed inverted menu">
					<a id="mobile_item" class="item"><i class="bars icon"></i></a>
					<div class="labeled icon right menu">
						<%= link_to destroy_user_session_path, class: "#{is_current_page?(destroy_user_session_path)} item", method: :delete do %>
						<i class="sign-out icon">Sair</i>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim sidebar e menu mobile  -->

		<!-- Menu desktop -->
		<div class="ui computer only one wide column" style="margin-left: 1.5em;">
			<%= render 'layouts/top_menu' %>
			<div class="ui labeled icon vertical left inverted fixed menu">
				<%= render 'layouts/sidebar_menu' %>
			</div>
		</div>
		<!-- Fim menu desktop -->
		
		<!-- Conteudo principal -->
		<div  class="fourteen wide sixteen mobile column container" style="margin-top: 2.5%;">
			<%= render 'layouts/alert_messages' %>
			<%= yield %>
		</div>
		<!-- Conteudo principal -->
	</div>

	<script type="text/javascript">
		$('.message .close')
		.on('click', function() {
			$(this)
			.closest('.message')
			.transition('fade');
		});
		$('.ui.sidebar').sidebar('attach events', '#mobile_item');
	</script>
</body>
</html>
