<!DOCTYPE html>
<html>
	<head>
		<title>Mycroft Provider</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= yield :head %>
	</head>
	<body>
		<%= render 'layouts/top_menu' %>
		<div class="ui centered grid">
			<div class="ui computer only large only tablet only two wide column">
				<%= render 'layouts/sidebar_menu' %>
			</div>
			<div  class="fourteen wide sixteen mobile column">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
