<!DOCTYPE html>
<html>
	<head>
		<title>Mycroft Provider</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= yield :head %>
	</head>
	<body>
		<%= render 'layouts/top_menu' %>
		<div class="ui centered grid">
			<div class="ui computer only large only tablet only two wide column">
				<%= render 'layouts/sidebar_menu' %>
			</div>
			<div  class="fourteen wide sixteen mobile column">
				<%= render 'layouts/alert_messages' %>
				<%= yield %>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$('.message .close')
		  .on('click', function() {
		    $(this)
		      .closest('.message')
		      .transition('fade')
		    ;
		  })
		;
	</script>
</html>
