<div class="ui left aligned segment form">
<%= form_with(model: cashiero, local: true,  html: { multipart: true }) do |form| %>
  <% if cashiero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashiero.errors.count, "error") %> prohibited this cashiero from being saved:</h2>

      <ul>
      <% cashiero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'ui text' %>
  </div>

  <div class="field">
    <%# form.label :photos %>
    <%= form.file_field :photos, multiple: true do  %>
      <div class="ui button"><i class="file icon"> Fotos</i></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :payment_type %>
    <% Cashiero.payment_types.each  do |k, v| %>
      <%= form.radio_button :payment_type, k %> <%= k %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :bank_account_id %>
    <%= form.text_field :bank_account_id %>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui blue button' %>
  </div>
<% end %>

</div>

<script type="text/javascript">
  $('radio')
  .checkbox()
  ;
</script>