<div class="ui left aligned segment form">
    <%= form_with(model: cashiero, local: true,  html: { multipart: true }) do |form| %>
    <% if cashiero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashiero.errors.count, "error") %> Erros encontrados:</h2>

      <ul>
        <% cashiero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= form.hidden_field :operation, value: (params[:operation] || @operation), required: true %>
    </div>

    <div class="field">
      <%= form.label :value %>
      <%= form.text_field :value, required: true %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, required: true %>
    </div>

    <div class="inline fields">
      <%= form.label :payment_type %>
      <% Cashiero.payment_types.each  do |k, v| %>
      <div class="ui radio ">
        <div class="field">
          <%= form.radio_button :payment_type, k %> 
          <label><%= k %></label>
        </div>
      </div>
      <% end %>
    </div>

    <div class="field">
      <%= link_to_add_association('Adicionar imagem', form, :image_cashieros, form_name: 'form','data-association-insertion-node' => "#list-image ol", 'data-association-insertion-method' => "append", :class => 'ui teal button') %>
      <fieldset id="list-image">
        <ol>
          <%= form.fields_for :image_cashieros do |image_cashiero| %>
          <%= render partial: "image_cashiero_fields", locals: {form: image_cashiero} %>
          <% end %>
        </ol>
      </fieldset>
    </div>

    <% if((params[:operation] || @operation) == 'saida') %>
      <div class="inline fields">
        <div class="field">
          <%= form.label :bank_account_id %>
          <%= form.collection_select :bank_account_id,  BankAccount.available, :id, :name, {}, class: "ui search dropdown" %>
        </div>
        <div class="field">
          <%= form.label :category_id %>
          <%= form.collection_select :category_id,  Category.available, :id, :name, {}, class: "ui search dropdown" %>
        </div>
      </div>
    <% else %>
      <%= form.hidden_field(:bank_account_id, value: BankAccount.default.id, required: true) %>
    <% end %>

    <div class="actions">
      <%= form.submit class: 'ui blue button' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ui.search.dropdown').dropdown();

  $('#cashiero_value').mask('#.##0,00', {reverse: true});
</script>