<div class="ui aligned segment ">
  <h1><i class="users icon"></i>Clientes</h1>

<table class="ui center aligned table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Description</th>
      <th>User</th>
      <th>Payment type</th>
      <th>Bank account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashieros.each do |cashiero| %>
      <tr>
        <td><%= cashiero.value %></td>
        <td><%= cashiero.description %></td>
        <td><%= cashiero.user %></td>
        <td><%= cashiero.bank_account %></td>
        <td><%= link_to 'Detalhes', cashiero %></td>
        <td><%= link_to 'Editar', edit_cashiero_path(cashiero) %></td>
        <td><%= link_to 'Excluir', cashiero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo entrada', new_cashiero_path, class: 'ui blue button' %> 
<%= link_to 'Novo saída', new_cashiero_path, class: 'ui red button' %>
</div>