
<p>
  <strong>Operação:</strong>
  <%= @cashiero.operation %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cashiero.value %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @cashiero.description %>
</p>

<p>
  <strong>Atendente:</strong>
  <%= @cashiero.user.name %>
</p>

<p>
  <strong>Tipo</strong>
  <%= @cashiero.payment_type %>
</p>

<% if @cashiero.operation == 'saida' %>
  <p>
    <strong>Categoria</strong>
    <%= @cashiero.category.name %>
  </p>
<% end %>

<p>
  <strong>Conta:</strong>
  <%= @cashiero.bank_account.name %>
</p>

<hr>
<h4>Comprovantes</h4>

<div class="ui images">
  <% @cashiero.image_cashieros.each do |image_cashiero| %>
    <%= link_to  image_cashiero.image.url, class: 'ui medium image' do %>
      <%= image_tag image_cashiero.image.url %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Editar', edit_cashiero_path(@cashiero, operation: @cashiero.operation ), class: 'ui basic button' %> 
<%= link_to 'Voltar', cashieros_path, class: 'ui basic button' %>
