
<p>
  <strong>Operação:</strong>
  <%= @cashiero.operation %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cashiero.value %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @cashiero.description %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @cashiero.photos %>
</p>

<p>
  <strong>User:</strong>
  <%= @cashiero.user.name %>
</p>

<p>
  <strong>Tipo</strong>
  <%= @cashiero.payment_type %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @cashiero.bank_account.name %>
</p>

<%= link_to 'Editar', edit_cashiero_path(@cashiero, operation: @cashiero.operation ), class: 'ui basic button' %> 
<%= link_to 'Voltar', cashieros_path, class: 'ui basic button' %>
