<p id="notice"><%= notice %></p>

<h1><i class="download icon"></i>Planos</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>Vel. max Upload </th>
      <th>Vel. max Download</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_of_data.each do |plan_of_datum| %>
      <tr>
        <td><%= plan_of_datum.velocity_max_upload %></td>
        <td><%= plan_of_datum.velocity_max_download %></td>
        <td><%= link_to 'Informações', plan_of_datum, class: 'ui grey basic button' %></td>
        <td><%= link_to 'Editar', edit_plan_of_datum_path(plan_of_datum), class: 'ui green basic button' %></td>
        <td><%= link_to 'Excluir', plan_of_datum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo plano', new_plan_of_datum_path, class: 'ui teal basic button' %>
