<p id="notice"><%= notice %></p>

<p>
  <strong>Velocity max upload:</strong>
  <%= @plan_of_datum.velocity_max_upload %>
</p>

<p>
  <strong>Velocity max download:</strong>
  <%= @plan_of_datum.velocity_max_download %>
</p>

<%= link_to 'Edit', edit_plan_of_datum_path(@plan_of_datum) %> |
<%= link_to 'Back', plan_of_data_path %>
