<script type="text/javascript">
  function searchCEP(el) {
    let element = $(el);
    let cep = element.val().replace(/\D/g, '');
    console.log(cep);

    if (cep != "") {
      const validacep = /^[0-9]{8}$/;
      if(validacep.test(cep)){
       $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(content) {
        if (!("erro" in content)) {
          parent = element.closest('li');
          chidrens = parent.find('input');
          chidrens[0].value = content.cep;
          chidrens[1].value = content.logradouro;
          chidrens[3].value = content.bairro;
          chidrens[4].value = content.complemento;
          chidrens[5].value = content.localidade;
          chidrens[6].value = content.uf;
        }
      });
     }
   }
 }

</script>

<div class="ui left aligned segment form">
  <%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

    <ul>
      <% client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="fields">
    <div class="eight wide  field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :cpf %>
      <%= form.text_field :cpf %>
    </div>

    <div class="field">
      <%= form.label :rg %>
      <%= form.text_field :rg %>
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <%= form.label :cell %>
      <%= form.text_field :cell %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  

  <div style="margin-bottom: 1.5em;">
    <%= link_to_add_association 'Adicionar Endereço', form, :addresses, form_name: 'form',
    'data-association-insertion-method' => 'prepend', 'data-association-insertion-node' => "#addresses-patient ol", class: 'ui basic orange button' %>
  </div>

  <fieldset id="addresses-patient" style="margin-bottom: 1.5em;">

    <ol>
      <%= form.fields_for :addresses do |address| %>
      <% render partial: 'address_fields', locals: { form: address} %>
      <% end %>
    </ol>
  </fieldset>

  <div class="actions">
    <%= form.submit class: 'ui blue button' %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#client_cpf').mask("000.000.000-00");
  $('#client_rg').mask("00000000000");
  $('#client_cell').mask("(00) 00000-0000");
  $('#client_phone').mask("(00) 00000-0000");
</script>