<h1><i class="users icon"></i>Clientes</h1>

<div class="ui form">
  <%= search_form_for @q do |f| %>
  <div class="eight wide field">
    <%= f.label :name_or_cpf_cont %>
    <%= f.search_field :name_or_cpf_cont %>
  </div>
  <div>
    <%= f.submit class: 'ui blue button '%>
  </div>
  <% end %>
</div>

<table class="ui center aligned table">
  <thead>
    <tr>
      <th> <i class="user icon"></i><%= sort_link(@q, :name) %></th>
      <th><i class="key icon"></i>Cpf</th>
      <th colspan="3" class="ui center aligned"><i class="clipboard icon"></i>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.cpf %></td>
      <td><%= link_to 'Informações', client, class: 'ui basic button',
      'data-tooltip'=>"Informações do cliente" ,'data-position' => "top left", 'data-inverted'=>"" %></td>
      <td><%= link_to 'Editar', edit_client_path(client), class: 'ui black basic button',
      'data-tooltip'=>"Editar informações do cliente" ,'data-position' => "top left", 'data-inverted'=>"" %></td>
      <td><%= link_to 'Excluir', client, class: 'ui red basic button', method: :delete,'data-tooltip'=>"Excluir cliente" ,'data-position' => "top left", 'data-inverted'=>"", data: { confirm: 'Você tem certeza que deseja excluir o cliente?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Adicionar Cliente', new_client_path, class: 'ui teal basic button', 'data-tooltip'=>"Adicionar um novo cliente",'data-position' => "top left", 'data-inverted'=>"" %>

