<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<div class="ui segment">
	<% @client.addresses.each do |address| %>
		
	<% end %>
</div>

<%= link_to 'Editar', edit_client_path(@client), class: 'ui basic button' %> 
<%= link_to 'Voltar', clients_path, class: 'ui basic button' %>
