<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_cashiero.image %>
</p>

<p>
  <strong>Cashiero:</strong>
  <%= @image_cashiero.cashiero %>
</p>

<%= link_to 'Edit', edit_image_cashiero_path(@image_cashiero) %> |
<%= link_to 'Back', image_cashieros_path %>
