<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Alerta!!! 
  </div>
  <div class="center aligned content">
    <p id="content_modal"></p>
  </div>
  <div id='controles' class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Falha
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>

<div class="ui left aligned segment form">
  <%= form_with(model: concentrator, local: true) do |form| %>
  <% if concentrator.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(concentrator.errors.count, "error") %> prohibited this concentrator from being saved:</h2>

    <ul>
      <% concentrator.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="fields">
    <div class="eight wide field">
      <%= form.label :hostname %>
      <%= form.text_field :hostname, class: 'uppercase', required: true %>
    </div>
  </div>

  <div class="fields">
    <div class="six wide field">
      <%= form.label :address %>
      <%= form.text_field :address, required: true %>
    </div>

    <div class="four wide field">
      <%= form.label :login %>
      <%= form.text_field :login, required: true %>
    </div>

    <div class="four wide field">
      <%= form.label :password %>
      <%= form.text_field :password, required: true %>
    </div>
  </div>

  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>IP Pool para Clientes inadplentes
  </h4>

  <div class="fields">
      <%= form.fields_for :address_range do |address_range| %>
          <%= address_range.hidden_field :name, required: true, value: 'PGCORTE' %>

          <div class="eight wide field">
            <%= address_range.label :start_range %>
            <%= address_range.text_field :start_range, class: 'ip_address', required: true, placeholder: 'Ex: 192.168.0.0' %>
          </div>

          <div class="eight wide field">
            <%= address_range.label :end_range %>
            <%= address_range.text_field :end_range, class: 'ip_address', required: true, placeholder: 'Ex: 192.168.0.250' %>
          </div>
      <% end %>
  </div>

  <div class="fields">
    <div id="test_conection" class="field ui button">
      <p>Testar Conexão</p>
    </div>
    <div id="status" class="field">  </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui blue button' %>
  </div>

</div>

<% end %>
<script type="text/javascript">
  function test_fail(){
    $("#content_modal").html("<br/>Por favor, verifique se os dados estão corretos, se o concentrador estar ligado ou se há conexão entre este servidor e o concentrador!");
    $("#controles").html("<div class='actions'><div class='ui red basic cancel inverted button'><i class='remove icon'></i>Falha</div></div>");
    $('#status').html($("<div class='ui red basic button' styles='margin-left:2em;' ></div>").text("Falha"));
  }

  function test_sucess(data){
    $("#content_modal").html("Conexão efetuada com sucesso! Concentrador possue os seguintes endereços: </br>");
    data.message[0].map(function(item){
      if(item.address){
        $("#content_modal").append(item.address + "<br/>");
      }
    });

    $("#controles").html("<div class='actions'><div class='ui green basic cancel inverted button'><i class='checkmark icon'></i>Sucesso</div></div>");
    $('#status').html($("<div class='ui green basic button' styles='margin-left:2em;' ></div>").text("Sucesso"));
  }

  $('#test_conection').click( function () {
    hostname = $('#concentrator_hostname').val();
    address = $('#concentrator_address').val();
    login = $('#concentrator_login').val();
    password = $('#concentrator_password').val();

    $.post("<%= test_concentrator_path %>",{
      hostname: hostname,
      address: address,
      login: login,
      password: password})
    .done(function(data){
      test_sucess(data);
    })
    .fail(function(data){
      test_fail();
    })
    .always(function(){
      $('.ui.basic.modal')
      .modal('show');
    });

  });   
</script>

<script type="text/javascript">
  $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } } });
</script>
