<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @concentrator.hostname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @concentrator.address %>
</p>

<p>
  <strong>Login:</strong>
  <%= @concentrator.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @concentrator.password %>
</p>

<%= link_to 'Editar', edit_concentrator_path(@concentrator), class: 'ui basic button' %> 
<%= link_to 'Voltar', concentrators_path, class: 'ui basic button' %>
