<div class="ui centered grid container">
  <div class="sixteen wide column">
    <h2><%= t(".title") %> </h2>
    <hr>
    <div class="ui form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>     

      <div class="field">  
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, placeholder: "Digite seu nome" %>
      </div>

      <div class="field">  
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder: "Digite seu melhor E-mail" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions ui grid">
        <div class="three column row">
          <div class="left floated column">
            <%= render "users/shared/links" %>
          </div>
          <div class="right floated column">
            <%= f.submit "Cadastrar", class:"positive ui button" %>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
</br>

