<div class="ui left aligned segment form">
  <%= form_with(model: [@client, @address, link], local: true) do |form| %>
  <% if link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

    <ul>
      <% link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="fields">

    <div class="eight wide field">
      <%= form.label :plan_of_data_id %>
      <%= form.collection_select :plan_id,  Plan.available, :id, :name, {}, class: "ui search dropdown" %>
      <script type="text/javascript">
        $('.ui.search.dropdown').dropdown();
      </script>
    </div>

    <div class="eight wide field">
      <%= form.label :login %>
      <%= form.text_field :login, required: true %>
    </div>

    <div class="eight wide field">
      <%= form.label :password %>
      <%= form.text_field :password, required: true %>
    </div>
  </div>

  <div class="fields">
    <div class="eight wide field">
      <%= form.label :status %>
      <%= form.number_field :status, required: true %>
    </div>

    <div class="eight wide field">
      <%= form.label :type_link %>
      <%= form.number_field :type_link, required: true %>
    </div>

    <div class="eight wide field">
      <%= form.label :address_range_id %>
      <%= form.grouped_collection_select :address_range_id, Concentrator.order(:hostname), :address_ranges, :hostname, :id, :name %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui blue button' %>
  </div>
  <% end %>
</div>