<div class="ui left aligned segment form">
  <%= form_with(model: [@concentrator, address_range], local: true) do |form| %>
  <% if address_range.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(address_range.errors.count, "error") %> prohibited this address_range from being saved:</h2>

    <ul>
      <% address_range.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="fields">
    <div class="field">
      <%= form.label :start_range %>
      <%= form.text_field :start_range, class: 'ip_address', required: true, placeholder: 'Ex: 192.168.0.0' %>
    </div>

    <div class="field">
      <%= form.label :end_range %>
      <%= form.text_field :end_range, class: 'ip_address', required: true, placeholder: 'Ex: 192.168.0.250' %>
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit class: 'ui blue button' %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } } });
</script>
