<div class="ui aligned segment ">
  <h1><%= "#{@concentrator.hostname}, #{@concentrator.address} :" %> Ip Pool</h1>
  <table class="ui center aligned table" >
    <thead>
      <tr>
        <th>Nome</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th colspan="3"class="ui center aligned"><i class="clipboard icon"></i>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @address_ranges.each do |address_range| %>
      <tr>
        <td><%= address_range.name %></td>
        <td><%= address_range.start_range %></td>
        <td><%= address_range.end_range %></td>
        <td><%= link_to 'Detalhes', concentrator_address_range_path(@concentrator, address_range), 'data-tooltip'=>"Informações do ip pool" ,'data-position' => "top left", 'data-inverted'=>"",class: 'ui grey basic button' %></td>
        <td><%= link_to 'Editar', edit_concentrator_address_range_path(@concentrator, address_range), 'data-tooltip'=>"Editar IP Pool" ,'data-position' => "top left", 'data-inverted'=>"",class: 'ui black basic button' %></td>
        <td><%= link_to 'Excluir',  concentrator_address_range_path(@concentrator, address_range), 'data-tooltip'=>"Excluir Ip POOL" ,'data-position' => "top left", 'data-inverted'=>"", class: 'ui red basic button', method: :delete, data: { confirm: 'Você realmente deseja excluir este Ip Pool?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Novo Ip pool', new_concentrator_address_range_path(@concentrator), class: 'ui teal basic button', 'data-tooltip'=>"Adicionar um ip pool",'data-position' => "top left", 'data-inverted'=>"" %>
</div>