
<p>
  <strong>Nome:</strong>
  <%= @address_range.name %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @address_range.start_range %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @address_range.end_range %>
</p>

<p>
  <strong>Concentrator:</strong>
  <%= @address_range.concentrator.hostname %>
</p>

<%= link_to 'Editar', edit_concentrator_address_range_path(@concentrator, @address_range), class: 'ui basic button' %> 
<%= link_to 'Voltar', concentrator_address_ranges_path(@concentrator), class: 'ui basic button' %>
