<div class="ui left aligned segment form">
  <%= form_with(model: [@concentrator, gateway], local: true) do |form| %>
    <% if gateway.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gateway.errors.count, "error") %> prohibited this gateway from being saved:</h2>

        <ul>
        <% gateway.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, required: true %>
    </div>

    <div class="field">
      <%= form.label :interface %>
      <%= form.collection_select :interface,  Mikrotik::Interafaces.available, :name, :name, {}, class: "ui search dropdown" %>
      <script type="text/javascript">
        $('.ui.search.dropdown').dropdown();
      </script>
    </div>

    <div class="actions">
      <%= form.submit class: 'ui blue button' %>
    </div>
  <% end %>
</div>
