<p>
  <strong>Nome:</strong>
  <%= @gateway.name %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @gateway.address %>
</p>

<p>
  <strong>Concentrador:</strong>
  <%= @gateway.concentrator.hostname %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @gateway.interface %>
</p>

<%= link_to 'Editar', edit_concentrator_gateway_path(@concentrator, @gateway), class: 'ui basic button' %> 
<%= link_to 'Voltar', concentrator_gateways_path(@concentrator), class: 'ui basic button' %>
